# usage: copy this file, open beautifier tab > Clang Format > Use customized style > Add > value, paste there

BasedOnStyle: LLVM

PointerAlignment: Right

AccessModifierOffset: -4

IndentWidth: 4

MaxEmptyLinesToKeep: 999

ObjCSpaceAfterProperty: true

ObjCBlockIndentWidth: 4

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: false

AlignTrailingComments: true

SpacesInSquareBrackets: false

SpacesInParentheses : false

AlignConsecutiveDeclarations: false

AlignConsecutiveAssignments: false

SpaceBeforeAssignmentOperators: true

SpacesInContainerLiterals: false

IndentCaseLabels: true

IndentWrappedFunctionNames: true

KeepEmptyLinesAtTheStartOfBlocks: true

AllowAllParametersOfDeclarationOnNextLine: false

SpaceAfterCStyleCast: true

AlwaysBreakTemplateDeclarations: Yes

TabWidth: 4

UseTab: Never

AlignAfterOpenBracket: Align

NamespaceIndentation: All

ColumnLimit: 100